# Игнорируем виртуальное окружение (оно внутри контейнера будет свое)
.venv/
venv/

# Игнорируем базу данных (она должна подключаться через volumes, а не копироваться)
chroma_db_data/

# Игнорируем Git
.git/
.gitignore

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем файлы IDE
.idea/
.vscode/